.yellow {
	color: yellow;
}
.red{
	color: red;
}
.bold{
font-weight: bold;
font-size: 18px;
}
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #9ED0D1;
	border: 5px solid #000;
}
body.scroll-lock {
	overflow: hidden;
}
.jsCode {
	font-family: monospace;
	font-size: 18px;
	background-color: #262A34;
	color: white;
	padding: 10px;
	margin: 10px;
}

.lesson__text {
	border: 2px solid #808;
	margin: 10px;
	padding: 20px;
}
.lesson__text-content {
	background-color: #808;
	color: wheat;
	padding-left: 20px;
}
.lesson__text-content_noDecore {
	background-color: rgba(0, 0, 0, 0);
	color: black;
}
.lesson__text-content_red {
	color: red;
}

.aqua {
	color: aqua;
}

.lesson__text-content_bold {
	font-weight: bold;
}

.canvas {
	width: 200px;
	height: 200px;
}
.remark {
background-color: yellow;
color: red;
font-size: 12px;
font-weight: 800;
}
.bold {
	font-weight: bold;
}
.active {
	background-color: yellow;
color: blue;
}

.scroll {
background-color: yellow;
padding: 10px;
margin: 3px;
border: none;
font-weight: bold;
font-size: 14px;
display: inline-block;
}

.lesson__block {
	margin: 0 auto;
	width: 500px;
	height: 300px;
	padding: 15px;
	border: 20px solid #7A956B;
	background-color: #794f45;
	overflow: auto;
	font-size: 20px;
	line-height: 150%;
box-sizing: border-box;
}

.lesson__block p:not(:last-child) {
margin: 0px 0px 20px 0px;
}

.lesson__text_P4 {
	border: 2px solid #794f45;
}

.button {
	background-color: #FEFE33;
	padding: 10px;
	margin: 3px;
	border: none;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	cursor: pointer
	}

	.button:hover {
		background-color: #FFFF00;
	}

	.button:active {
		background-color: #FFAE42;
	}	

.no_active {
	background-color: #555;
}

td {
	height: 100px;
	width: 100px;
}

.level_1 {
background-color: #159;
width: 90%;
height: 150px;
margin: 10px;
margin: 0 auto;
align-items: center;
}

.level_2 {
background-color: #753;
width: 70%;
height: 70%;
margin: 0 auto;
}

.level_3 {
background-color: #919;
width: 70%;
height: 70%;
margin: 0 auto;
}



.buttonArr {
	background-color: #f11;
height: auto;
width: auto;
display: inline-block;
padding: 20px;
}

.buttonArr__P4 {
background-color: #f18;
height: auto;
width: auto;
display: inline-block;
padding: 20px;
}

/*Пример 4.1 изчезающее меню*/
.menu {
	display: inline-block;
}
.menu._active .menu__list {
	display: block;
}
.menu._active .menu__button span:first-child {
	display: none;
}
.menu._active .menu__button span:last-child {
	display: block;
}
.menu__button span:first-child {
display: block;
}
.menu__button span:last-child {
display: none;
}
.menu__button {
	background-color: #FEFE33;
	border: none;
	font-weight: bold;
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
}
.menu__list {
	background-color: #77608d;
	padding: 15px;
	margin: 0 -10px 0 0;
	list-style: none;

}
.menu__list li:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu__link {
	color: #fff;
	font-size: 16px;
}
.menu__link:hover {
	background-color: #FFFF00;
	color: #00f;
}
/*__end__Пример 4.1 изчезающее меню*/
/*Пример 6 Основы событий мыши*/
.block-for-mouse {
max-width: 300px;
height: 300px;
background-color: rgba(120, 0, 120, 0.4);
font-size: 12px;
overflow: auto;
margin: 0 auto;
text-align: center;
}
.block-for-mouse-status {
	max-width: 300px;
	height: 30px;
	background-color: rgba(120, 0, 120, 0.4);
	color: #FFFF00;
	font-weight: 900;
	margin: 5px auto;
	text-align: center;
}

.block-for-mouse_P6_4 span, .block-for-mouse_P6_5 span{
	background-color: #066;
	padding:  15px;
	margin: 0 auto;
}
/*__end__Пример 4.1 изчезающее меню*/
/*Пример 6.6 Делегирование событий наведения мыши*/
.number-key, .number-key_2 {
	max-width: 200px;
	height: 200px;
	background-color: #77608d;
	margin: 0 auto;
}

.number-key__item {
	display: inline-block;

	width: 30%;
	height: 30%;
	background-color: #77608d;
	text-align: center;
	padding: 0 0;
	margin: 0 auto;
}
.button {
}
.item_1 {
}
.item_2 {
}
.item_3 {
}
.item_4 {
}
.item_5 {
}
.item_6 {
}
.item_7 {
}
.item_8 {
}
.item_9 {
}
/*__end__Пример 6.6 Делегирование событий наведения мыши*/

/*Пример 6.7 Перетаскивание Drag'nDrop*/

.block-for-mouse_P6_7 {
	position: relative;
}
.block-for-mouse__move {
	height: 30px;
	width: 30px;
	background-color: #08f;
}
.block-for-mouse__reacts {
	height: 35px;
	width: 35px;
	position: absolute;
	top: 30%;
	left: 40%;
	background-color: #0f9;
}
/*__end__Пример 6.7 Перетаскивание Drag'nDrop*/
/*Пример 7 События клавиатуры*/
 .key_control-table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	max-width: 640px;
	text-align: center;
	border-collapse: collapse;
	background: #252F48;
	margin: 0 auto;
 }
.key_control-table th {
	color: #EDB749;
	border-bottom: 1px solid #37B5A5;
	/*padding: 12px 17px;*/
 }
.key_control-table td {
	color: #CAD4D6;
	border-bottom: 1px solid #37B5A5;
	border-right:1px solid #37B5A5;
	/*padding: 7px 17px;*/
 }
.key_control-table tr:last-child td {
	border-bottom: none;
 }
.key_control-table td:last-child {
	border-right: none;
 }
.key_control-table tr:hover td {
	text-decoration: underline;
 }
.key_control-text {
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: #CAD4D6;
	max-width: 640px;
	text-align: center;
	border-collapse: collapse;
	background: #252F48;
	margin: 0 auto;
}


/*__end__Пример 7 События клавиатуры*/

.textarea__item {
	
}
.textarea__counter {
}


/*_______Урок№ 16 ФОРМЫ*/
html,
body {
	height: 100%;
	/*background-color: #333;*/
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*color: #fff;*/
	font-size: 16px;
}
.button {
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
	cursor: pointer;
	background-color: rgb(231, 231, 0);
}

.yellow {
	color: rgb(231, 231, 0);
}

.lesson {
	padding: 20px 0px 0px 0px;
}
.lesson._focus {
	outline: 2px dotted rgb(231, 231, 0);
}

button {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	padding: 0px 16px;
	background-color: rgb(231, 231, 0);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(248, 248, 89);
}

.main-form {
	display: flex;
	flex-wrap: wrap;
}
.main-form._active {
	outline: 1px solid red;
}
.main-form__column {
	flex: 0 1 50%;
}
.main-form__column:last-child {
	flex: 1 1 auto;
}
.main-form__item {
	margin: 0px 0px 25px 0px;
}
.main-form__label {
	display: block;
	margin: 0px 0px 10px 0px;
}
.main-form__input,
.main-form__select,
.main-form__textarea {
	font-family: inherit;
	min-height: 40px;
	font-size: 16px;
	line-height: 40px;
	width: 250px;
	padding: 0px 15px;
	color: #fff;
	background-color: rgb(48, 48, 48);
	border: 1px solid #111;
	border-radius: 3px;
}
.main-form__textarea {
	padding: 10px 15px;
	min-height: 100px;
}

.main-form__radio {
	margin: 0px 0px 5px 0px;
}

.main-form__button {
}
.main-form__image {
	margin: 10px 0px 0px 0px;
}
.main-form__image img {
	width: 150px;
}

.main-form__error {
	padding: 10px 0px 0px 0px;
	color: red;
}

/*__end__Урок№ 16 ФОРМЫ*/