/* */
/*Обнуление*/
/* Очищаем все отступы и границы во ВСЕХ тегах на странице*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* Меняет подсчет ширины блока для удобства верстания
(задаваемая ширина блока будет с учетом границ border и внутреннего отступа padding) 
внешний отступ margin в расчет ширины блока не входит*/
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}
/* Убираем линии обводки у некооторых браузеров*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/* Делает теги блочными*/
nav,footer,header,aside{display: block;}
/* Уравнивает поведение шрифтов в разных браузерах*/
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1; /* просто 1(без 'px') */
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/* Задаем наследование шрифта (по умолчанию эти теги не наследуют шрифт)*/
input,button,textarea{font-family:inherit;}/* */
/* Убирают некоторые особености в некоторых  браузерах*/
input::-ms-clear{display: none;}/* */
button{cursor: pointer;}/* */
button::-moz-focus-inner {padding:0;border:0;}/* */
a, a:visited{text-decoration: none;}/* */
a:hover{text-decoration: none;}/* */
ul li{list-style: none;}/* чистит стили в маркированых списках*/
img{vertical-align: top;}/* */

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}/*Обнуляет заголовки */
/*--------------------*/
/* Далее задаем стили согласно ТЕХ. ЗАДАНИЮ */
/* Стили применяемые ко всем урокам */
html,body{
font-size: 18px;
}
h1{
	font-size: 37px;
	color: #4A8AF4;
}

h2{
	font-size: 27px;
	color: #139F5A;
}

h3{
	font-size: 25px;
	color: #b42DFF;
}

h4.primer{
	color: #A65DFF;
}

.css_code_H{
	text-align: center;
	width: auto;
	font-size: 22px;
	font-family: monospace;
	margin-top: 5px;
	padding: 10px;
	background-color: #000000;
	color: #FF9A00;
}
.time{
	height: 30px;
	width: 250px;
	position: center;
	background-color: #ffff00;
	font-family: monospace;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: red;
}
.css_code{
	font-family: monospace;
	margin-top: 5px;
	padding: 10px;
	background-color: #000000;
	color: #FF9A00;
}
div.frame_cod_css{
	border: 0px;
	color: #FF9A00;
}
.emmet>p{
	line-height: 30px;
}
.css_code>span{
	font-family: monospace;
	color: #748074
}
p{
	margin-top: 8px;
}
.emmet{
	background-color: rgba(36,180,253, 1);
		font-family: monospace;
}
.emmet>p{
	line-height: 30px;
}
.hotKey{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 3px;
	padding: 3px;
	background-color: #303030;
	color: #fff;
	border: 6px;
	border-radius: 5px;
}
.example {
	margin: 10px 10px 30px 10px;
	padding: 5px;
	background-color: rgba(50,0,0, 0.3);
}
/*=======================================================================================*/

/*Свойства для данного урока*/

.example-block {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 1px solid #000; /*Задает границу в 1 пиксель сплошной линией черным цветом*/
}
.example-block-1 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px dotted #f00; /*Задает границу в 10 пикселей точками красным цветом*/
}
.example-block-2 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px dashed #0f0; /*Задает границу в 10 пикселей пунктирной линией зеленым*/
}
.example-image {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 1px solid #000; /*Задает границу в 1 пиксель сплошной линией черным цветом*/
}
.example-image-1 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px dotted #f00; /*Задает границу в 10 пикселей точками красным цветом*/
}
.example-image-2 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px dashed #0f0; /*Задает границу в 10 пикселей пунктирной линией зеленым*/
}

.example-block-3 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border-top: 10px dotted #f00; /*Задает ВЕРХНЮЮграницу в 10 пикселей точками красным цветом*/
	border-right: 10px dotted #0f0; /*Задает прввую границу в 10 пикселей пунктирной линией зеленым*/
	border-bottom: 10px solid #00f; /*Задает НИЖНЮЮ границу в 10 пикселей сплошной линией синим цветом*/;
	border-left: 10px dashed #ff0; /*Задает ЛЕВУЮ границу в 10 пикселей пунктирной линией желтым*/
}
.example-image-3 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border-top: 10px dotted #f00; /*Задает ВЕРХНЮЮграницу в 10 пикселей точками красным цветом*/
	border-right: 10px dotted #0f0; /*Задает прввую границу в 10 пикселей пунктирной линией зеленым*/
	border-bottom: 10px solid #00f; /*Задает НИЖНЮЮ границу в 10 пикселей сплошной линией синим цветом*/;
	border-left: 10px dashed #ff0; /*Задает ЛЕВУЮ границу в 10 пикселей пунктирной линией желтым*/
}

.example-block-4 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px solid #00f; /*Задает границу в 10 пикселей сплошной линией синим цветом*/
	border-bottom: none; /*Убирает нижнюю границу*/
}
.example-image-4 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px solid #00f;
	border-bottom: none;}


	.example-block-5 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px solid #00f; /*Задает границу в 10 пикселей сплошной линией синим цветом*/
	border-radius: 50px; /*Задает радиус скругления по всем углам 50 пикселей*/
}
.example-image-5 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border: 10px solid #00f; /*Задает границу в 10 пикселей сплошной линией синим цветом*/
	border-radius: 50px 50px 50px 50px;
}


	.example-block-6 {
		margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
		border: 10px solid #00f; /*Задает границу в 10 пикселей сплошной линией синим цветом*/
		border-radius: 10px 40px 70px 100px; /*Верх.лев. - 10px, верх.прав. - 40px, ниж.прав. - 70px, ниж.лев. - 100px, */
}
	.example-image-6 {
		margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
		border: 10px solid #00f; /*Задает границу в 10 пикселей сплошной линией синим цветом*/
		border-radius: 10px 40px 70px 100px; /*Верх.лев. - 10px, верх.прав. - 40px, ниж.прав. - 70px, ниж.лев. - 100px, */
}


.example-block-7 {
	text-align: justify; /* Выравнивает содержимое по ширине*/
	overflow: hidden; /*Скрывает содержимое за границей блока*/
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border-radius: 80px; /* Задает скругление всем углам*/
}
.example-image-7 {
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	border-radius: 80px; /* Задает скругление всем углам*/
}

.example-block-8 {
	text-align: right; /* Выравнивает содержимое по правому краю*/
	overflow: hidden; /*Скрывает содержимое за границей блока*/
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	width: 100px;
	height: 100px;
	background-color: #0ff;
	border: 5px solid #00f;
	border-radius: 50%; /* Задает скругление всем углам*/
}
.example-image-8 {
	text-align: justify; /* Выравнивает содержимое по ширине*/
	overflow: hidden; /*Скрывает содержимое за границей блока*/
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	width: 100px;
	height: 100px;
	background-color: #0ff;
	border: 5px solid #00f;
	border-radius: 50%; /* Задает скругление всем углам*/
}
.example-block-9 {
	text-align: right; /* Выравнивает содержимое по правому краю*/
	overflow: hidden; /*Скрывает содержимое за границей блока*/
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	width: 100px;
	height: 100px;
	background-color: #0ff;
	border: 5px solid #00f;
	border-radius: 50%; /* Задает скругление всем углам*/
	overflow: 5px solid #0f0;
	outline: 5px solid #0f0;/*Задает внешнюю зеленую границу*/
}
.example-image-9 {
	text-align: justify; /* Выравнивает содержимое по ширине*/
	overflow: hidden; /*Скрывает содержимое за границей блока*/
	margin: 0 0 30px 0; /*внешний отступ 30 пикселей вниз*/
	width: 100px;
	height: 100px;
	background-color: #0ff;
	border: 5px solid #00f;
	border-radius: 50%; /* Задает скругление всем углам*/
	outline: 5px solid #0f0;/*Задает внешнюю зеленую границу*/
}
.example_string {
	outline: 5px solid #0f0;/*Задает внешнюю зеленую границу*/
}

.example-block-10 {
	margin: 30px;
	padding: 10px;
	box-shadow: 5px 10px 15px 20px #000; /* 5влево 10вниз 15радиус 20расстояние код цвета*/
	border-radius: 30px; /* Задает скругление всем углам*/
}

.example-image-10 {
	margin: 30px;
	padding: 10px;
	box-shadow: 5px 10px 15px 20px #000; /* 5влево 10вниз 15радиус 20расстояние код цвета*/
	border-radius: 30px; /* Задает скругление всем углам*/
}

.example-block-11 {
border: 1px solid #000;
opacity: 0; /*Элемент не видим, но находится на странице*/
}
.example-block-12 {
border: 1px solid #000;
opacity: 0.5;/*Задает прозрачность 50%*/
}

.example-block-13 {
border: 1px solid #000;
visibility: visible; /*Элемент отображается*/
}

.example-block-14 {
border: 1px solid #000;
visibility: hidden; /*Элемент скрыт*/
}